.App {
  width: 100vw;
  min-height: 100vh;

  /* Alineacion */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-login {
  width: 40vw;
  min-height: 40vh;

  /* Color */
  background-color: var(--white);

  /* Alineacion */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-profile {
  width: 256px;
  height: 256px;
}