:root {
  --white: #FFF;
  --gray-500: #F6F6F6;
  --gray-600: #CED4DA;
  --gray-650: #ABB5BE;
  --gray-700: #68717A;
  --gray-750: #6C757D;
  --purple-500: #7749F8; 
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--gray-500);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
